/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

#features{
   text-align: center;

}

/* --------------------------------------
   Typography
   -------------------------------------- */
.well .page-header{
   margin-top: 0;
}
.well .page-header h1{
   margin-top: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
   .navbar-nav{
      margin-top: 20px;
   }
   .navClass{
    
   }
   #searchInput{
      width: 200px;
   }

   .formClass{
      margin-top: 25px;
   }
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel .item{height: 400px;}
#slide1{
   background: url('../../images/Car1_medium.jpg')top center no-repeat;
}
#slide2{
   background: url('../../images/car2_medium.jpg')top center no-repeat;
}
#slide3{
   background: url('../../images/Car3_medium.jpg')top center no-repeat;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */
.well{
   margin: 20px 0px;
}

.alert{
   margin-top: 20px;
   display: none;


}

/* --------------------------------------
   3 panels
   -------------------------------------- */
.img-circle{
   height: 200px;
   width: 200px;
}
/* Sections........................*/
.pics{

   display: inline;
}
.tab-pane p{
   text-align: inline;
}

/*footer*/
footer
{
   background: #808080;
}
footer a{
   color: blue;
}







/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
   #myCarousel .item{height: 310px;}
   #slide1{
      background: url('../../images/Car1_large.jpg')top center no-repeat;
   }
   #slide2{
      background: url('../../images/Car2_large.jpg')top center no-repeat;
   }
   #slide3{
      background: url('../../images/Car4_large.jpg')top center no-repeat;
}
}

/* Large desktop */
@media (min-width: 1200px) {
	#myCarousel .item{height: 500px;}
#slide1{
   background: url('../../images/Car1_large.jpg')top center no-repeat;
}
#slide2{
   background: url('../../images/Car2_large.jpg')top center no-repeat;
}
#slide3{
   background: url('../../images/Car4_large.jpg')top center no-repeat;
}
}